

<div class="container">

  <div class="row">
    <div class="col-md-6 m-auto">
      <div class="mt-5">
        <div class="card card-body">
          <h1 class="text-center mb-3 font-weight-lighter">
            <i class="fa fa-sign-in"></i> Forget Password
          </h1>
          <form (ngSubmit)="f.form.valid && userForgetPassword(f)" #f="ngForm" novalidate>

            <div class="form-group">
              <label >Email</label>
              <input type="text" class="form-control" name="email" [(ngModel)]="user.userEmail" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email />
              <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                <div *ngIf="email.errors.required">Email is required</div>
                <div *ngIf="email.errors.email">Email must be a valid email address</div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">
              Forget Password
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="success" *ngIf="showSucessMessage">
  <div class="alert alert-danger fade show"><span>{{showSucessMessage}}</span></div>
</div>

<div class="bg-warning" *ngIf="serverErrorMessages">
  <div class="alert alert-danger fade show"><span>{{serverErrorMessages}}</span></div>
</div>


